*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}

/* 
COLOR PALETTE

Primary: #B667F1
Background: #0F0F11
Background2: #1C1C20
Text1: #F1F1F1
Text2: #B3B3B3
Glow Accent: #C58BFF
Code Green: #6EF3A5
Error Red: #FF5F79
Cyan Edge: #6FD2FF

Gradient: linear-gradient(135deg, #B667F1, #C58BFF)
Box Shadow: box-shadow: 0 0 10px #B667F1aa;
*/


body{
    background: #0F0F11;
    color: #F1F1F1;
    background-image: url(assets/bg.jpg);
    background-size: fill;
    background-position: center;
    font-size: 12px;
}

#header{
    width: 100%;
    height: 100vh;
}

/* header and stuff */
.container{
    padding: 10px 10%;
    /* background: #0F0F11; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 75px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #F1F1F1;
    text-decoration: none;
    font-size: 16px;
    position: relative;;
}

nav ul li a span{
    font-weight: bold;
    background: linear-gradient(135deg, #B667F1, #C58BFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 10px 15px #7F3DF3aa;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #A867F8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 300ms;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text span{
    font-weight: bold;
    background: linear-gradient(135deg, #B667F1, #C58BFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 10px 15px #7F3DF3aa;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #7F3DF3aa;
    padding: 14px ;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #F1F1F1;
    transition: background 300ms;
}

.btn:hover{
    background: #7F3DF3aa;
}
/* about section */

#about{
    padding: 80px 0px;
    color: #F1F1F1
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 90%;
    border-radius: 20px;
    background-color: #0F0F11;
    transition: box-shadow 0.3s ease, transform 0.3s ease;    
}

.about-col-1 img:hover {
    background-color: #0F0F11aa;
    box-shadow: 0 0 16px #7F3DF3aa, 0 0 32px #A867F8aa;
    transform: scale(1.02);
}

.about-col-2{
    flex: 65%
}

.about-col-2 h1{
    font-size: 30px;
}

.about-col-2 p{
    font-size: 12px;
}

.about-col-2 span{
    background: linear-gradient(135deg, #B667F1, #C58BFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #7F3DF3aa;
    font-family: "JetBrains Mono", monospace;
}

.about-titles{
    display: flex;
    margin: 20px 0px 40px;

}

.about-links{
    margin-right: 50px;
    font-size: 18;
    font-weight: 100;
    cursor: pointer;
    position: relative;
}

.about-links:after{
   content: '';
   width: 0;
   height: 3px;
   background: #A867F8;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 300ms;
}

.about-links.active::after{
    width: 50%;
}

.about-contents ul li{
    list-style: none;
    margin: 10px
}

.about-contents ul li span{
    font-size: 12px;
}

.about-contents{
    display: none;
}

.about-contents.active{
    display: block;
}

/* technologies */

#technologies{
    padding: 30px 0;
}

.technologies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.technologies-list div{
    background: #0F0F11;
    padding: 40px;
    font-size: 12px;
    border-radius: 20px;
    border-right: 10px;
    transition: background 300ms, transform 300ms;
}

.technologies-list div:hover{
    background: #7F3DF3aa;
    transform: translateY(-15px);
}

.technologies-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.technologies-list div h2{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 15px;
}

.technologies-list p{
    font-family: "JetBrains Mono", monospace;
}

/* portfolio section */

#portfolio{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 300ms; 
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#0F0F11);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    transition: height 300ms;
}

.layer h3{
    margin-bottom: 20px;
    background: linear-gradient(135deg, #B667F1, #C58BFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #7F3DF3aa;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}

.layer a{
    margin-top: 30px;
    color: #7F3DF3aa;
    text-decoration: none;
    font-size: 22px;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}